/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.item-link-wrapper {
    position: relative;
}

.item-infotime {
    display: flex;
    align-items: center;
}

.item-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    align-items: center;
}

.item-title {
    font-size: 26px;
}

.item-header .btn-share {
    background: none;
    border: none;
    font-size: 16px;
}

.item-link-wrapper .item-link {
    text-decoration: none;
    color: black;
}

.item-link-wrapper .item-link:hover {
    color: #7d7d7d;
}

.contaner-login {
    max-width: 500px;
}
.user-link {
    text-decoration: none;
    color: black;
}
.user-link {
    color: #7d7d7d;
}
header.navbar{
    padding :0;
}
.blog-nav {
    width : 100%;
    background-image: linear-gradient(rgba(112.520718, 44.062154, 249.437846, 1), rgba(112.520718, 44.062154, 249.437846, 0.95));
}
.blog-nav .blog-nav-container {
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.blog-nav .blog-nav-container .nav-item a {
    color : rgba(255, 255, 255, 0.85);
    text-decoration : none;
}
.blog-nav .blog-nav-container .nav-item a:hover {
    color : #fff;
}
.dropdown-avartar {
    border: none;
    background: none;
}
.dropdown-avartar img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius : 50%;
}
.navbar-center {
    position :absolute;
    left : 50%;
    transform : translateX(-50%)
}
.blog-nav .navbar-right > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
}
.blog-nav .navbar-right > a:hover {
    color: #fff;
}
.blog-nav a.dropdown-item {
    color: #212529 !important;
}


.ckeditor .ck-content {
    min-height: 400px;
}
.container-newblog .form-control {
    width: 100%;
}

.container-input {
    position: relative;
    display: block;
}
#container-imgPreview{
    position : absolute;
    z-index : 10;
    left :0;
    max-width : 300px;
}
.img-preview {
    object-fit: cover;
    width: -webkit-fill-available;
}
.popover-arrow::before , .popover-arrow::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
}
.popover-arrow::before {
    top: 0;
    border-width: 0 .5rem .5rem .5rem;
    border-bottom-color: rgba(0, 0, 0, .25);
}
.popover-arrow::after {
    top: 1px;
    border-width: 0 .5rem .5rem .5rem;
    border-bottom-color: #fff;
}
.popover-content {
    border: 1px solid #8b8b8b;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    margin-top: 8px;
}
.user-img {
    text-align : center;
}
.user-img img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    object-fit: cover;
}

.cotainer-blog {
    max-width: 980px;
    margin : auto;
}
.comment-blog .media img {
    width : 36px;
    height : 36px;
    object-fit : cover;
}

.comment-blog .media .acc-comment {
    display : flex;
    align-items : center;
}
.comment-blog .media .infor-user-comment {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.comment-blog .media .infor-user-comment a {
    text-decoration : none;
    color : black;
}
.comment-blog .media-body {
    margin : 16px 0px 0px 48px;
}
.cotainer-blog .header-blog .cateblog {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.cotainer-blog .header-blog .cateblog a {
    text-decoration : none;
    color : #454545;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.cotainer-blog .header-blog .cateblog .danh-muc-item {
    margin-right : 12px;
}
.cotainer-blog .header-blog .cateblog a:hover {
    color: #1a1a1a;
}
.cotainer-blog .header-blog .avatar-poster{
    display : flex;
    align-items :center;
    justify-content : space-between;
}
.cotainer-blog .header-blog .avatar-poster .avatar a {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    overflow: hidden;
}
.cotainer-blog .header-blog .avatar-poster .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cotainer-blog .header-blog .avatar-poster .name a{
    text-decoration : none;
    color : #454545;
}
.cotainer-blog .header-blog .avatar-poster .name a{
    color: #1a1a1a;
}